<head>
	<link rel='stylesheet' href='/css/contact.css'>
</head>
<div style='margin-bottom: 4em;'></div>
	<div id='wrapper'>
		<ul class='left'>
			<li style='text-transform: uppercase; letter-spacing: 2px; font-size: 32px; margin-bottom: .5em;'>Management</li>
			<li style='margin-bottom: .5em;'>HNTR</li>
			<li>hntrmanagement@mail.com</li>
		</ul>



		<ul class='right'>
			<li style='text-transform: uppercase; letter-spacing: 2px; font-size: 32px; margin-bottom: .5em;'>Booking</li>
			<li style='margin-bottom: .5em;'>Ollie Girvan</li>
			<li>hntrbookings@mail.com</li>
		</ul>
	</div>

	<div class='page-break'></div>

