<head>
	<link rel='stylesheet' href='/css/music.css'>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src='//connect.soundcloud.com/sdk.js'></script>
	<script src='js/soundcloud.js'></script>
</head>

<!--<ul id='results'>
</ul>-->
<div id='title'>
<h1>Prizes for the golden</h1>
<h3>by HNTR</h3>
</div>

<div id='tracks'>


	<h4>Paradise (preview)</h4><p class='length'>3:32</p>
	<p>HNTR</p>

	<a href="#" id="start1"><img style='margin-left: -3px;' src='/imgs/play.png'></a>
	<a href="#" id="stop1"><img src='/imgs/stop.png'></a>

	<br>

	
	<h4>From the Forest to the Tide</h4><p class='length'>3:32</p>
	<p>HNTR</p>

	<a href="#" id="start2"><img style='margin-left: -3px;' src='/imgs/play.png'></a>
	<a href="#" id="stop2"><img src='/imgs/stop.png'></a>

	<br>

	<h4>Old Oak</h4><p class='length'>4:12</p>
	<p>HNTR</p>

	<a href="#" id="start3"><img style='margin-left: -3px;' src='/imgs/play.png'></a>
	<a href="#" id="stop3"><img src='/imgs/stop.png'></a>


</div>

